<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="de-CH" lang="de-CH" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="JobID" content="{{ job_id }}" />
  <meta name="languageSource" content="en" />
  <meta name="languageTarget" content="{{ language }}" />

  <title>Job ID {{ job_id }}</title>
</head>
<body>
<div class="asset" id="item-{{ item_id }}">

  {% for field in fields %}
    <!--
label="{{ field.label }}"
context="[{{ item_id }}][{{ field.field_path }}"
-->
    <div class="atom" id="b@{{ field.encoded_field_path }}">{{ field.field_value }}</div>
  {% endfor %}

</div>
</body>
</html>
